
html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
 
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  
.container {
    width: 70%;       /* ✅ ocupa el 70% de la pantalla */
    max-width: none;  /* ✅ elimina la limitación de 1024px */
    margin: 120px auto; 
    display: flex;
    flex-direction: column;
    gap: 24px;
     flex: 1;
}


/* Tarjetas */
.card {
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid gray;
    padding: 24px;
}
.card2 {
   height: 5rem; /* Define la altura del cuadro */
    border-radius: 2rem; /* Bordes redondeados */
    border: 1px solid #6b7280; /* Borde gris oscuro */
    display: flex; /* Usamos flexbox */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    background-color: white;
}

.header {
    text-align: center;
}

/* Botones */
.btn-primary {
    background-color: #3EAEB1;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none; /* 🔹 Esto elimina cualquier borde */
    outline: none; /* 🔹 Previene bordes que aparecen al hacer clic */
}

.btn-primary2 {
    background-color: #3EAEB1;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none; /* 🔹 Esto elimina cualquier borde */
    outline: none; /* 🔹 Previene bordes que aparecen al hacer clic */
}

#modalCerrarSesion .modal-content {
  all: unset;
  background-color: #fff;
  padding: 25px;
  border-radius: 25px;
  text-align: center;
  width: 100%;
  max-width: 400px;
  position: relative;
  font-family: 'Oswald', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btn-primary:hover {
    background-color: #349A9E;
}

.btn-secondary {
    background-color: #f8f8f8;
    color: gray;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: bold;
    border: 1px solid gray;
    cursor: pointer;
}

/* Ocultar elementos */
.hidden {
    display: none;
}

/* Diseño flexible */
.flex {
    gap: 20px;
    margin-top: 20px; /* 🔹 Separación entre los inputs y los botones */

}
input {
    padding-bottom: 10px; /* 🔹 Espacio adicional debajo de los inputs */
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Destacado */
.highlight {
    color: #3EAEB1;
}

/* Modales */
/* Fondo oscuro */
.modal {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Contenido del modal */
.modal-content {
  background-color: #fff;
  padding: 25px;
  border-radius: 25px;
  text-align: center;
  width: 100%;
  max-width: 400px; /* mismo estilo que modal reporte */
  position: relative;
  font-family: 'Oswald', sans-serif;
}

#modal-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #333;
}


.experto-texto {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 3rem;
  text-align: center;
  color: #666;
  display: block; /* para que el text-align: center funcione correctamente */
}

/* Botones */
.modal-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.modal-buttons button,
.modal-buttons a {
   padding: 0.4rem 3rem;
  font-size: 1rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

/* Botón cancelar */
#btnCancelar {
  background-color: #f8f8f8;
  color: black;
  border: 1px solid #E5E5E5;
}

/* Botón aceptar */
.btn-confirm {
  background-color: #3eaeb1;
  color: white;
}

.modal-buttons :hover {
  opacity: 0.8;
}


.modal-close:hover {
  color: #000;
}

/* Ajuste de tamaño de fuentes pequeñas */
p, label, .text-sm {
    font-size: 1.1rem; /* Aumentado ligeramente */
}

/* Estilo para los inputs */
/* Contenedor de los inputs */
.input-group {
    display: flex;
    flex-direction: column; /* Fuerza a los inputs a estar en columna */
    gap: 10px; /* Espacio entre los inputs */
    width: 100%;
}

/* Estilos para los inputs */
input, select {
    width: 92%; /* Se aseguran de ocupar el ancho completo del contenedor */
    padding: 10px;
    border-radius: 5px;
    background-color: #d9d9d9;
    border: none;
    outline: none;
    font-size: 0.9rem;
    display: block; /* Se asegura que estén siempre en bloque */
}
#passwordForm {
    display: flex;
    flex-direction: column;
    gap: 16px; /* Espacio vertical entre los elementos */
  }

  #eliminarForm {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacio entre los elementos */
    padding: 10px 0; /* Espacio interno arriba y abajo */
  }
.titulo-principal {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  cursor: pointer;
  color: #3EAEB1; /* Negro por defecto */
  transition: color 0.3s ease;
  text-decoration: none;
  position: relative; /* Para el ::after */
  display: inline-block; /* Necesario para que el subrayado se ajuste al texto */
}

/* Subrayado animado */
.titulo-principal::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px; /* espacio debajo del texto */
  height: 2px;
  width: 0;
  background-color: #3EAEB1;
  transition: width 0.3s ease;
}

/* Hover: color + subrayado */
.titulo-principal:hover {
  color: #3EAEB1;
}

.titulo-principal:hover::after {
  width: 100%;
}


.titulo-secundario {
    color: #3EAEB1;
}
#little-text p {
    color: #606060;
    font-size: 1rem; /* Ajusta aquí el tamaño */
    margin: 0.3em 0;   /* Opcional: separa un poco las líneas */
    line-height: 1.4;
}
#little-text p:hover {
   
    color: #000000; /* Mismo color que el texto */
    font-size: 1em; /* Tamaño del punto */
    
}

.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.password-wrapper input {
    width: 100%;
    padding-right: 40px; /* espacio para el ojito */
}

.password-wrapper .toggle-pass {
    font-size: 20px;
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #333;
}

/*-----------------------------------------------
 REQUISITOS DE CONTRASEÑAS / COINCIDEN 
-----------------------------------------------*/


#password-requirements {
  margin: 0 0 10px 5px;
  font-size: 5px;
  line-height: 1.2;
}

#password-requirements p,
#password-match p,
#password-error p {
  margin: 1px 0;
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #666;
  font-size: 15px;
}

#password-match,
#password-error {
  margin: -5px 0 10px 12px;
  font-size: 5px;
  line-height: 1.2;
  display: none;
}

#password-requirements span,
#password-match span,
#password-error span {
  width: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

#password-requirements span i,
#password-match span i,
#password-error span i {
  font-size: 17px;
  line-height: 1;
  vertical-align: middle;
}

#password-requirements span i.text-danger,
#password-match span i.text-danger,
#password-error span i.text-danger {
  color: #dc3545 !important;
}

#password-requirements span i.text-success,
#password-match span i.text-success {
  color: #198754 !important;
}


/*-----------------------------------------------
 MODAL ELIMINAR CUENTA
-----------------------------------------------*/

#modalEliminarCuenta {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

#modalEliminarCuenta.hidden {
  display: none;
}

#modalEliminarCuenta .modal-eliminar-content {
  background-color: #fff;
  padding: 25px;
  border-radius: 25px;
  text-align: center;
  width: 100%;
  max-width: 400px;
  position: relative;
  font-family: 'Oswald', sans-serif;
}

#modalEliminarCuenta h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #000000;
}

#modalEliminarCuenta p {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 25px;
  color: #333;
}

#modalEliminarCuenta .modal-eliminar-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

#modalEliminarCuenta .modal-eliminar-buttons button {
  padding: 0.4rem 3rem;
  font-size: 1rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
}

/* Botón cancelar */
.btn-eliminar-cancel {
  background-color: #f8f8f8;
  color: black;
  border: 1px solid #E5E5E5;
}

.btn-eliminar-cancel:hover {
  opacity: 0.8;
}

/* Botón confirmar */
.btn-eliminar-confirm {
  background-color: #dc3545;
  color: white;
}

.btn-eliminar-confirm:hover {
  background-color: #c82333;
}


.error-text {
  color: red;
  font-size: 0.9em;
  margin-top: 4px;
}

/*----------------------------
     RESPONSIVE
-----------------------------*/
@media (max-width: 1024px){
  .container {
    width: 97%;
   max-width: 800px;
  }
  
}


/* Pantallas pequeñas (tablets) */
@media (max-width: 768px) {
  
  .container {
    width: 95%;
   max-width: 650px;
   
    
    
  }
  .titulo-principal{
    text-align: center;
    display: block;     /* 🔹 asegura que el centrado funcione */
  margin: 0 auto; 
  }

  .btn-primary , .btn-secondary{
      margin-left: 15px; 
    padding: 5px 25px;
    
}

.input-contenedor .toggle-password {
    right: 6px; /* más pegado al borde en móviles */
    transform: translateY(-50%) scale(0.9); /* más pequeño */
  }

  .input-contenedor input {
    padding-right: 35px; /* menos espacio en pantallas pequeñas */
  }
#modalCerrarSesion .modal-content {
    width: 80% !important;
    max-width: 400px !important;
    padding: 20px;
    border-radius: 20px;
  }

  
#modalEliminarCuenta .modal-eliminar-content {
 
  width: 93%;
  max-width: 400px;
  
}
}

/* Celulares */
@media (max-width: 480px) {
  
  .container {
    width: 95%;
   max-width: 650px;
  }

  .titulo-principal {
    font-size: 1.2rem;
    text-align: center;
  }

  input, select {
    width: 95%;
  }

 
}


