/* Contenedor padre de toda la sección */


.main-container {
    width: 70%;
    margin: 50px auto 0 auto; /* Centrado horizontal con margen superior */
    display: flex;
    flex-direction: column;
    gap: 40px; /* Espacio entre header y slider */
}

/* Estilo para encabezado sin login */
.no-login-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 2px solid #f8f8f8;
  padding-bottom: 10px;
}

.no-login-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 4rem;
  margin: 0;
  color: black;
  margin-top: -25px;
}

.no-login-title p {
  margin: 0;
  line-height: 1.1;
}

.cali {
  color: #3EAEB1;
}

.app-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 1px solid black;
  padding: 5px 15px;
  border-radius: 8px;
  margin-top: 40px;
}

.app-icons p {
  margin: 0;
  font-weight: 500;
  font-family: 'Oswald', sans-serif;
}

.app-icons i {
  font-size: 1.5rem;
  color: #3EAEB1;
  margin: 0 5px;
}

.app-icons .icons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

/* Estilo para encabezado con login */
.login-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.login-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  margin: 0;
  color: black;
  margin-top: -25px;
}

.usuario {
  color: #3EAEB1;
}


/* ===== SLIDER DE FRASES ===== */
.carousel-container {
    background-color: #D9D9D9;
    margin: 0px -20px;
    padding: 50px 20px;
    border-radius: 3px;
    position: relative;
    margin-top: -40px
}

.carousel-item {
    text-align: center;
}

.frase {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: black;
    margin: 0;
}

.frase .resaltado {
    color: #3EAEB1;
}

/* ===== Contenedor General ===== */
.slider-categorias-contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -15px;
    width: 100%;
    position: relative;
}

/* ===== Flechas ===== */
.flecha {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #3EAEB1;
    cursor: pointer;
    padding: 0 0px;
}

.flecha:focus {
    outline: none;
}

/* ===== Slider de Categorías ===== */
.slider-categorias {
    display: flex;
    gap: 25px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    width: 100%;
    padding-left: 0;
    margin-left: 0;
    box-sizing: border-box;
    align-items: stretch;
}
/* Asegura que el primer elemento del carrusel de categorías esté pegado a la izquierda */
.slider-categorias > .categoria:first-child {
    margin-left: 0 !important;
}

.slider-categorias::-webkit-scrollbar {
    display: none;
}

.titulo-categorias {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color: black;
    font-size: 2.3rem;
    margin-top: -15px;
}

/* ===== Estilo de cada Categoría ===== */
.categoria {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 112px; /* Ancho del cuadro ajustado a 120px */
    gap: 5px;
    position: relative;
    flex-shrink: 0; /* Prevent items from shrinking */
}

.categoria img {
    width: 105px; /* Tamaño de la imagen ajustado a 120px */
    height: 105px;
    object-fit: cover;
    border-radius: 15px;
    background-color: #F9F9F9;
    border: 1px solid #d9d9d9;
    transition: transform 0.3s ease;
}

.categoria:hover img {
    transform: scale(1.05);
}

/* ===== Nombre de Categoría centrado y con estilo ===== */
.nombre-categoria {
    font-family: 'Oswald', sans-serif;
    font-weight: 500; /* Medium */
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    width: 100%; /* Para que ocupe el 100% del ancho del contenedor */
    margin-top: 5px; /* Espacio entre el icono y el texto */
}

.categoria:hover .nombre-categoria {
    background-color: #ffffff;
    color: #3EAEB1;
}

.flecha.inactiva {
    opacity: 0.3;
    cursor: default;
    pointer-events: none; /* Para que no se pueda hacer clic */
}

/*-----------------------------------------------
  Estilos para contenedor de te podria interesar
-----------------------------------------------*/

/* Estilo para el contenedor con el título y las tarjetas */
/* Estilo para el contenedor con el título y las tarjetas */
  .contenedor {
    width: 100%; /* Ancho del contenedor */
    height: 27rem; /* Altura ajustada */
    background-color: white; /* Fondo blanco */
    border: 1px solid #6b7280; /* Borde gris oscuro */
    border-radius: 1rem; /* Bordes redondeados */
    display: flex; /* Flexbox para centrar el contenido */
    flex-direction: column; /* Colocar el contenido en una columna (título + slider) */
    position: relative; /* Posición relativa para iconos u otros elementos */
    overflow: hidden; /* Ocultar el desbordamiento */
    padding: 15px; /* Espaciado interno */
    
  }
  
  .titulo-interes {
    font-family: 'Oswald', sans-serif;
    font-weight: 700; /* Bold */
    font-size: 2.3rem;
    margin-bottom: 20px;
    color: black;
    padding: 0 0px; /* Espaciado adicional a los lados para mayor separación */
    text-align: center;
  }
  
  .image-price-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    justify-content: center;
  }

.destacada {
  color: #606060;
}
  
/* Estilo para las estrellas (calificación) */
.estrellasTarjetas {
  display: flex; /* Flexbox para alinear las estrellas */
  justify-content: left; /* Centrado horizontal */
  font-size: 1rem; /* Tamaño de fuente para las estrellas */
  color: #3EAEB1; /* Color azul */
  gap: 0.1rem; /* Espacio entre las estrellas */
  margin-top: -8px; 
} 

.nombre {
  font-family: 'Oswald', sans-serif;
  font-weight: 500; /* Medium */
  font-size: 20px;
  color: black;
  margin-top: 5px; /* Antes: 10px */


}

.profesion {
  font-family: 'Oswald', sans-serif;
  font-weight: 400; /* Regular */
  font-size: 16px;
  color: black;
  margin-top: 5px; /* Antes: 10px */
  margin-bottom: 4px; /* Añadir también si no hay */  
}

.descripcion-titulo {
  font-family: 'Oswald', sans-serif;
  font-weight: 400; /* Regular */
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7); /* Negro al 70% */
  margin: 2px 0 2px; /* Antes: 4px 0 2px */
}

.descripcion-texto {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: black;
  margin: 0 0 4px; /* Para dar un pequeño espacio hacia el botón */
}

.ver-mas {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  color: #3EAEB1;
  font-size: 0.9rem;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 6px; /* Antes: 10px */
}

.price {
  font-family: 'Oswald', sans-serif;
  font-weight: 500; /* Medium */
  color: #666666;
  font-size: 12px;

  }
  
  
  .slider-container {
  position: relative;
  }
  
  .slider {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;
  padding-bottom: 20px;
  }
  
  .slider::-webkit-scrollbar {
  display: none;
  }
  
  .card-tarjeta {
  background-color: #fff;
  flex: 0 0 370px;
  border-radius: 12px;
  padding: 15px;
  border: 1px solid #ccc;
  display: flex;
  gap: 15px;
  align-items: center; 
  height: 260px; /* Limita la altura total */

  }
  
  
  .card-tarjeta img {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
  }

  /* Contenedor del botón en el modal */
.boton-container {
  display: flex; /* Usa Flexbox para centrar el contenido */
  justify-content: center; /* Centra el botón horizontalmente */
  margin-top: 8px; /* Añadir margen superior para separar la descripción */
}

/* Estilo del botón */
.contact-button {
  background-color: white;
  border: 3px solid #3EAEB1;
  color: black;
  padding: 6px 16px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 13px;
  font-family: 'Oswald', sans-serif;
  font-weight: 600; /* Medium */
}

.contact-button:hover {
  background-color: #3EAEB1;
  color: #ffffff; /* Cambia el color del texto si deseas */
}

/* Asegura que los contenidos dentro de .card-content estén en columna */
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
 
  .arrows {
  display: flex;
  gap: 60px; /* Separación entre flechas */
  justify-content: center;
  align-items: center;
  }
  
  .arrow-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  }
  
  .arrow-btn svg {
  transition: transform 0.3s ease;
  }
  
  .arrow-btn:hover svg {
  transform: scale(1.1);
  }
  
  
  .card-content{
    position: relative;
  }
  
  /* Contenedor de nombre y botón menú */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Botón del menú */
  .menu-button-container {
    position: relative;
  }
  
  .menu-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  /* Menú desplegable */
  .menu-completo {
    display: none; /* Oculto por defecto */
    position: absolute;
    right: 0;
    top: 30px;
    width: 120px;
    background-color: #F8F8F8;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    z-index: 10;
    font-family: 'Oswald', sans-serif; /* Fuente Oswald */
    font-weight: 500; /* Oswald Medium */
    color: black; /* Color de la letra en negro */
  }

  .menu-completo a {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 6px 8px;
    border: none;
    background: none;
    cursor: pointer;
    text-align: left;
    font-size: 14px;
    text-decoration: none;
    color: black;
  }

  .menu-completo a span {
    font-family: 'Oswald', sans-serif;
    font-weight: 500; /* Medium */
    font-size: 14px;
    text-decoration: none;
  }
  
  
  .menu-completo a :hover {
    color: #3EAEB1;
  }
  
  .menu-completo i {
    margin-right: 8px;
    font-size: 16px;
  }
  
 .hidden {
  visibility: hidden; /* Se asegura de que el espacio se mantenga aunque el "Ver más" no sea visible */
}

  

/*-----------------------------------------------
  Estilos para el modal oculto 
-----------------------------------------------*/
/* Modal oculto por defecto */
/* Modal oculto por defecto */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  z-index: 9999;
}

.modal:not(.hidden) {
  display: flex;
}

/* Contenedor del modal */
.modal-content {
  position: relative;
  width: 45%; /* Ancho más estrecho (ajústalo a tu gusto) */
  max-width: 450px; /* Máximo ancho */
  height: auto; /* Altura automática según el contenido */
  max-height: 100vh; /* La altura máxima será el 90% de la altura de la ventana */
  border-radius: 12px;
  background-color: white; /* Fondo blanco para el contenido */
  overflow-y: auto; /* Permite desplazamiento si el contenido es muy largo */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}


/* Botón de cerrar */
.close-button {
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 22px;
  color: #000000;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.close-button:hover {
  color: #3eaeb1;
}

/* Estilo para el contenedor con el título y las tarjetas */
  .contenedor-destacados {
    width: 100%; /* Ancho del contenedor */
    height: 27rem; /* Altura ajustada */
    background-color: white; /* Fondo blanco */
    border-radius: 1rem; /* Bordes redondeados */
    display: flex; /* Flexbox para centrar el contenido */
    flex-direction: column; /* Colocar el contenido en una columna (título + slider) */
    position: relative; /* Posición relativa para iconos u otros elementos */
    overflow: hidden; /* Ocultar el desbordamiento */
    padding: 20px; /* Espaciado interno */
    margin-bottom: 20px;
    
  }

 .contenedor-frases {
  width: 100%;
  background-color: #f8f8f8;
  text-align: center;
}

.contenedorfrasespeque {
  width: 70%;
  margin: 0 auto;
  padding: 40px ;
  background-color: #f8f8f8;
  border-top: 2px solid #000; /* Ahora solo este tiene el borde */
}


.titulo-frases {
    font-family: 'Oswald', sans-serif;
    font-weight: 500; /* Bold */
    font-size: 2rem;
    margin-bottom: 20px;
    color: black;
    padding: 0 0px; /* Espaciado adicional a los lados para mayor separación */
    text-align: center;
}

.servicios {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  margin-bottom: 30px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.item {
  flex: 1;
  min-width: 200px;
  padding: 10px;
}

.item i {
  height: 40px;
  margin-bottom: 10px;
  color: #3EAEB1;
  font-size: 3rem;
}

.item h3 {
  margin: 10px 0 5px;
  font-family: 'Oswald', sans-serif;
  font-weight: 500; /* Bold */
  font-size: 1.4rem;
  margin-bottom: 20px;
  color: black;
  padding: 0 0px; /* Espaciado adicional a los lados para mayor separación */
  text-align: center;
}

.item p {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color: #666666;
  font-size: 1rem;
}

.boton {
   font-family: 'Oswald', sans-serif;
  font-weight: 500;
  background-color: #3EAEB1;
  color: #fff;
  border: none;
  padding: 6px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.boton:hover {
  background-color: #2e9092;
}

/* Flechas de los carruseles de tarjetas (promocionados y destacados) */
.arrow-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.arrow-btn svg {
  transition: transform 0.3s ease;
}

.arrow-btn:hover svg {
  transform: scale(1.1);
}

.arrow-btn.inactiva {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}


/*-----------------------------------------------
  Estilos para el modal de reportes oculto 
-----------------------------------------------*/

/* Modal general */
.modal-reporte {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Contenedor del contenido del modal */
.modal-contenido-reporte {
  background-color: white;
  padding: 2rem;
  border-radius: 20px;
  width: 400px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

/* Título */
.modal-contenido-reporte h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 3rem;
  text-align: center;
  color: #3eaeb1;
}

/* Botón para cerrar */
.cerrar-modal {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Campo de entrada */
.campo {
  margin-bottom: 1.5rem;
}
.campo textarea {
  width: 100%;
  height: 120px; 
  padding: 0.8rem;
  font-size: 1.2rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  border: 1px solid #d1d5db;
  border-radius: 10px;
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.7);
  resize: none;
}

.campo textarea::placeholder {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.7);
}


/* Botones del modal */
.botones-reporte {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 3rem;
}

.botones-reporte .guardar,
.botones-reporte .cancelar {
  padding: 0.4rem 3rem;
  font-size: 1rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.botones-reporte .guardar {
  background-color: #3eaeb1;
  color: white;
  border: none;
}

.botones-reporte .cancelar {
  background-color: #f8f8f8;
  color: black;
  border: 1px solid #E5E5E5;
}

.botones-reporte button:hover {
  opacity: 0.8;
}


/*-----------------------------------------------
  Estilos para responsive 
-----------------------------------------------*/


/* --- Media Queries --- */

/* Large devices (laptops and desktops) */
@media (max-width: 1200px) {
    .main-container {
        width: 85%;
    }

    .frase {
        font-size: 1.8rem;
    }

    .titulo-categorias {
        font-size: 2rem;
    }

    .titulo-interes {
        font-size: 2rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 992px) {
    .card-tarjeta {
        flex: 0 0 300px; /* Ancho de tarjeta ajustado para tabletas */
        height: auto; /* Altura automática */
        padding: 12px; /* Relleno ajustado */
    }

    .card-tarjeta img {
        width: 90px; /* Ancho de imagen ajustado */
        height: 90px; /* Altura de imagen ajustada */
    }

    .nombre {
        font-size: 19px; /* Tamaño de fuente ajustado */
    }

    .profesion {
        font-size: 15px; /* Tamaño de fuente ajustado */
    }

    .descripcion-titulo,
    .descripcion-texto {
        font-size: 14px; /* Tamaño de fuente ajustado */
    }

    .menu-button {
        font-size: 18px; /* Tamaño de botón de menú ajustado */
    }

    .menu-button-container {
        top: 0px; /* Reajusta la posición superior para el tamaño del botón */
        right: 0px; /* Reajusta la posición derecha */
    }
}

/* Dispositivos pequeños (teléfonos en horizontal, 768px y menos) */
@media (max-width: 768px) {
    .card-tarjeta {
        flex: 0 0 260px; /* Reduce aún más el ancho de la tarjeta */
        padding: 10px; /* Relleno ajustado */
    }

    .card-tarjeta img {
        width: 80px; /* Ancho de imagen más pequeño */
        height: 80px; /* Altura de imagen más pequeña */
    }
    .contenedor {
    width: 100%; /* Ancho del contenedor */
    height: 30rem; /* Altura ajustada */
    background-color: white; /* Fondo blanco */
    border: 1px solid #6b7280; /* Borde gris oscuro */
    border-radius: 1rem; /* Bordes redondeados */
    display: flex; /* Flexbox para centrar el contenido */
    flex-direction: column; /* Colocar el contenido en una columna (título + slider) */
    position: relative; /* Posición relativa para iconos u otros elementos */
    overflow: hidden; /* Ocultar el desbordamiento */
    padding: 15px; /* Espaciado interno */
}

    .nombre {
        font-size: 18px; /* Tamaño de fuente ajustado */
    }

    .profesion {
        font-size: 14px; /* Tamaño de fuente ajustado */
    }

    .descripcion-titulo,
    .descripcion-texto {
        font-size: 13px; /* Tamaño de fuente ajustado */
    }

    .menu-button {
        font-size: 16px; /* Tamaño de botón de menú más pequeño */
    }
}

/* Dispositivos extra pequeños (teléfonos en vertical, 575px y menos) */
@media (max-width: 575px) {
    .card-tarjeta {
        flex: 0 0 90%; /* La tarjeta ocupa casi todo el ancho en las pantallas más pequeñas */
        max-width: 300px; /* Evita que se haga demasiado ancha en pantallas pequeñas ligeramente más grandes */
        margin: 0 auto; /* Centra la tarjeta cuando ocupa casi todo el ancho */
        padding: 8px; /* Relleno aún más ajustado */
    }
    .slider {
        justify-content: start; /* Centra las tarjetas en el slider cuando solo una es visible */
    }
    .card-tarjeta img {
        width: 70px; /* Ancho de imagen más pequeño */
        height: 70px; /* Altura de imagen más pequeña */
        margin-bottom: 5px; /* Ajusta el margen para la imagen más pequeña */
    }

    .nombre {
        font-size: 17px; /* Tamaño de fuente ajustado */
        margin-top: 2px; /* Margen superior más pequeño */
    }

    .profesion {
        font-size: 12px; /* Tamaño de fuente ajustado */
        margin-top: 2px; /* Margen superior más pequeño */
    }

    .descripcion-titulo,
    .descripcion-texto {
        font-size: 11px; /* Tamaño de fuente ajustado */
    }

    .ver-mas {
        font-size: 0.7rem; /* Tamaño de fuente más pequeño para 'Ver más' */
    }

    .menu-button {
        font-size: 14px; /* Tamaño de botón de menú más pequeño */
        padding: 3px; /* Relleno más pequeño */
    }

    .menu-button-container {
        top: -5px; /* Ajusta la posición ligeramente hacia arriba */
        right: -5px; /* Ajusta la posición ligeramente hacia la izquierda */
    }

    .menu-completo {
        top: 20px; /* Ajusta la posición superior del menú desplegable */
        width: 100px; /* Menú ligeramente más estrecho */
        font-size: 12px; /* Tamaño de fuente del menú */
    }
    .menu-completo button span {
        font-size: 12px; /* Tamaño de fuente del texto de los botones del menú */
    }
    .menu-completo i {
        font-size: 14px; /* Tamaño de los íconos en el menú */
    }
}