/* Fondo oscuro */
.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Contenido del modal */
.modal-content {
  background-color: #fff;
  padding: 25px;
  border-radius: 25px;
  text-align: center;
  width: 100%;
  max-width: 400px; /* mismo estilo que modal reporte */
  position: relative;
  font-family: 'Oswald', sans-serif;
}

.experto-texto {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 3rem;
  text-align: center;
  color: #3eaeb1;
  display: block; /* para que el text-align: center funcione correctamente */
}

/* Botones */
.modal-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.modal-buttons button,
.modal-buttons a {
   padding: 0.4rem 3rem;
  font-size: 1rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

/* Botón cancelar */
#btnCancelar {
  background-color: #f8f8f8;
  color: black;
  border: 1px solid #E5E5E5;
}

/* Botón aceptar */
.btn-confirm {
  background-color: #3eaeb1;
  color: white;
}

.modal-buttons :hover {
  opacity: 0.8;
}


.modal-close:hover {
  color: #000;
}
