* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald Variable';
}
/* oswald-latin-wght-normal */
@font-face {
    font-family: 'Oswald Variable';
    font-style: normal;
    font-display: swap;
    font-weight: 200 700;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/oswald:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
  }
  /* Responsivo */
  @media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    input, button.bt-login {
        font-size: 14px;
        padding: 12px;
    }

    .bt-registro, .bt-iniciarsesion {
        font-size: 14px;
        padding: 8px 15px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 20px;
    }

    h1 {
        font-size: 22px;
    }

    .bt-registro, .bt-iniciarsesion {
        padding: 8px;
    }
}
body {
    background: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 900px;
    position: relative;
    text-align: center;
}

.contenedor{
    display: flex;
    padding: 20px;
    width: 450px;
    justify-content: space-between;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 130px;
}

.bt-registro{
  margin-left: 65px;
  
}

.bt-iniciarsesion{
  margin-right: 30px;
  color: #3eaeb1;
}

.logo {
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 22px;

}
.lg-part1 {
    font-size: 28px;
    font-weight: bold;
    color: #3eaeb1;
    position: absolute;
    top: 24px;
    left: 93px;
}
.lg-part2 {
    font-size: 28px;
    font-weight: bold;
    color: #000000;
    position: absolute;
    top: 24px;
    left: 130px;
}

nav span {
    font-size: 25px;
    margin: 0 10px;
    cursor: pointer;
    color: #141413;
    font-weight: bold;
   
}

.toggle-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  
}

.toggle-slot {
  font-size: 10px;
  position: relative;
  height: 3.5em;
  width: 7em;
  border: 0px solid transparent;
  border-radius: 10em;
  background-color: #fff;
  transition: background-color 250ms;
  
}

.toggle-checkbox:checked ~ .toggle-slot {
  background-color: #fff;
}

.toggle-button {
  transform: translate(0.3em, 0.25em);
  position: absolute;
  height: 3em;
  width: 3em;
  border-radius: 50%;
  background-color: #D9D9D9;
  box-shadow: inset 0px 0px 0px 0.75em #3EAEB1;
  transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.26,2,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .toggle-button {
  background-color: #D9D9D9;
  box-shadow: inset 0px 0px 0px 0.75em #3EAEB1;
  transform: translate(3.65em, 0.25em);
}

.sun-icon {
  position: absolute;
  height: 6em;
  width: 6em;
  color: #ffbb52;
}

.sun-icon-wrapper {
  position: absolute;
  height: 6em;
  width: 6em;
  opacity: 1;
  transform: translate(2em, 2em) rotate(15deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(.26,2,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
  opacity: 0;
  transform: translate(3em, 2em) rotate(0deg);
}

.moon-icon {
  position: absolute;
  height: 6em;
  width: 6em;
  color: white;
}

.moon-icon-wrapper {
  position: absolute;
  height: 6em;
  width: 6em;
  opacity: 0;
  transform: translate(11em, 2em) rotate(0deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(.26,2.5,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
  opacity: 1;
  transform: translate(2em, 2em) rotate(-15deg);
}


.switch {
    position: relative;
}

.switch input {
    display: none;
}

.switch label {
    background: #333;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
    color: #D3CEC4;
}

.register-form {
    background: rgba(255, 255, 255, 0.4);
    padding: 20px;
    width: 450px;
    height: 630px;
    border-radius: 50px;
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-form h1 {
    color: #3eaeb1;
    margin-bottom: 20px;
    font-size: 35px;
}


.inp-correo {
    display: flex;
    align-items: center;
    background: #d9d9d9;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 5px;
    width: 380px;
    border-radius: 5px;
}

.inp-correo-icon{
    margin: 10px 10px 0px 5px;
    
}
.inp-contraseña {
    display: flex;
    align-items: center;
    background: #d9d9d9;
    margin-bottom: 20px;
    padding: 5px;
    width: 380px;
    border-radius: 5px;
}
.inp-pasw-icon{
    margin: 5px 10px 0px 5px;
    
}
.bt-login {
  width: 170px;
  height: 60px;
  font-size: 20px;
  margin-top: 25px;
}



.inp-correo input {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    font-size: 20px;
}

.inp-contraseña input {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    font-size: 20px;
}
input::placeholder {
    color: rgb(0, 0, 0);
    font-weight: bold;
    opacity: 0.6;
    cursor: pointer;
}

button {
    background: #d9d9d9;
    color: #333;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}
.bt-recuperar-pasword {
    color: #000000; 
    font-size: 19px; 
    text-decoration: none; 
    cursor: pointer; 
    font-weight: bold;
}

.bt-recuperar-pasword:hover {
    color: #3eaeb1; 
    text-decoration: none; 
}
