<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia para usuarios</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/guia_usuario.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="https://i.postimg.cc/26ZkKCPm/Vector.png">
</head>

<body>
    {% include 'nav.html' %}
    {% include 'errors.html' %}
    <div class="container">
        <main class="contenido">

            <img src="../static/images/userGuide.jpg" alt="">

            <h1>GUIA PARA USUARIOS DE CALITRABAJA</h1>
            <section id="introduccion">
                <h2>Introducción</h2>
                <p>
                    Tu cuenta en CaliTrabaja es tu puerta de entrada para conectar con los mejores expertos y encontrar
                    los servicios que necesitas de forma rápida y segura.

                    Este manual te guiará paso a paso para que saques el máximo provecho de la plataforma y
                    los pasos son simples: crea tu cuenta, inicia sesión y comienza a descubrir todo lo que CaliTrabaja
                    tiene para ofrecerte.
                </p>
            </section>

            <section id="abrir-cuenta">
                <h2>Cómo crear una cuenta en CaliTrabaja</h2>
                <p>
                    1. Dirígete a la Página de inicio de CaliTrabaja y haz clic en [Registrarse] en la esquina superior
                    derecha.
                </p>
                <img src="../static/images/guia_usuario/pantalla_inicial.png" alt="" style="margin-bottom: -100px;">

                <p>
                    2. Ingresa tu primer nombre y primer apellido, correo electronico y una contraseña segura con al
                    menos 6 caracteres y una letra mayúscula. Una vez todos los campos llenados, dar click en
                    [Registrate].
                </p>
                <img src="../static/images/guia_usuario/registro.png" alt="" style="height: 600px;"><br><br>

                <p>
                    3. Una vez tu cuenta este verificada, ya tendras acceso a todo lo que CaliTrabaja tiene para
                    ofrecerte.
                </p>
                <img src="../static/images/guia_usuario/pantalla_logueado.png" alt="">
            </section>

            <section id="inicio-sesion">
                <h2>Inicio de sesión</h2>
                <p>
                    1. En caso de que ya tengas una cuenta, dirigete a la opción [¿Ya tienes una cuenta?] que se
                    encuentra dentro del apartado de registro.
                </p>
                <img src="../static/images/guia_usuario/inicio_sesion1.png" alt=""><br><br><br>

                <p>
                    2. Ingresa tu correo electrónico y contraseña para acceder a la plataforma.
                </p>
                <img src="../static/images/guia_usuario/inicio_sesion2.png" alt=""><br><br><br>

                <p>
                    3. Una vez tu cuenta sea verificada, ya tendras acceso a todo lo que CaliTrabaja tiene para
                    ofrecerte.
                </p>
                <img src="../static/images/guia_usuario/pantalla_logueado.png" alt=""><br><br><br>
            </section>

            <section id="recuperar-contraseña">
                <h2>Recuperar contraseña</h2>
                <p>
                    1. En caso tal de que hayas olvidado tu contraseña, dirigete a la opción [¿Olvidaste tu contraseña?]
                    que se encuentra dentro del apartado de inicio de sesión.
                </p>
                <img src="../static/images/guia_usuario/forgot_password1.png" alt=""><br><br><br>

                <p>
                    2. Ingresa tu correo electrónico y al dar click en enviar, te llegara un enlace al correo
                    electronico el cual te permitira restablecer la contraseña olvidada.
                </p>
                <img src="../static/images/guia_usuario/forgot_password2.png" alt=""><br><br><br>
            </section>

            <section id="menu-principal">
                <h2>Menú principal</h2>
                <p>
                    1. El menú se encontrará en la esquina superior izquierda en forma de 3 lineas.
                </p>
                <img src="../static/images/guia_usuario/menu_cliente1.png" alt=""><br><br><br>

                <p>
                    2. En este desplegable de opciones especialmente hecha para los clientes, encontrará campos como:
                </p>
                <img src="../static/images/guia_usuario/menu_cliente2.png" alt=""
                    style="height: 450px; width: 200px;"><br><br><br>
                <p>
                    <b>Inicio:</b> Devolverá a la interfaz inicial siendo independientemente de la interfaz que se
                    encuentre. <br><br>
                    <b>Publicaciones:</b> Se dirige a la interfaz de publicaciones de expertos disponibles. <br><br>
                    <b>Perfi:</b> Dirige a la interfaz de perfil de cliente. <br><br>
                    <b>Mensajes:</b> Dirige a la interfaz de mensajería para interactuar entre cliente y experto.
                    <br><br>
                    <b>Convertirse en experto:</b> Esta opción manda al apartado de convertir en experto, donde podrá
                    pasar de cliente a experto (esta opción solo la podrán visualizar los clientes). <br><br>
                    <b>Configuración:</b> En esta opción al ser seleccionada podrá tener una configuración más
                    personalizada para la cuenta. <br><br>
                    <b>Cerrar sesión:</b> En esta opción se podrá cerrar sesión de la cuenta en uso. <br><br>
                    <b>Modo oscuro:</b> Esta opción permite cambiar el tema de claro a oscuro o viceversa (preferencia
                    del usuario). <br><br>
                </p><br><br>
            </section>

            <section id="perfil-cliente">
                <h2>Perfil cliente</h2>
                <p>
                    1. En el menú, Dirigete a la opción [Perfil].
                </p>
                <img src="../static/images/guia_usuario/perfil_cliente1.png" alt=""><br><br><br>

                <p>
                    2. Se podrá visualizar toda la información correspondiente y tú puedes gestionar toda tu información
                </p>
                <img src="../static/images/guia_usuario/perfil_cliente2.png" alt=""><br><br><br>

                <p>
                    3. Podras modificar tus datos básicos (nombres y apellidos) accediendo al icono en la esquina
                    superior derecha.
                </p>
                <div style="display: flex;">
                    <img src="../static/images/guia_usuario/perfil_cliente3.png" alt="">
                    <img src="../static/images/guia_usuario/perfil_cliente4.png" alt="">
                </div> <br><br><br>

                <p>
                    4. Podras modificar tu ubicación accediendo a la opción [+Añadir barrio].
                    superior derecha
                </p>
                <div style="display: flex;">
                    <img src="../static/images/guia_usuario/perfil_cliente5.png" alt="">
                    <img src="../static/images/guia_usuario/perfil_cliente6.png" alt="">
                </div> <br><br><br>

                <p>
                    5. Se visualizara un panel central donde aparecen las opiniones que los usuarios han dejado a los
                    expertos. Cada
                    valoración muestra el nombre del experto, la calificación recibida y un comentario.
                </p>
                <img src="../static/images/guia_usuario/perfil_cliente7.png" alt=""><br><br><br>

            </section>

            <section id="interfaz-publicaciones">
                <h2>Uso de la interfaz de publicaciones</h2>
                <p>
                    1. Ingresa a [publicaciones] en el menú principal.
                </p>
                <img src="../static/images/guia_usuario/publicaciones1.png" alt=""><br><br><br>

                <p>
                    2. A continuación, verás la interfaz de publicaciones de CaliTrabaja, donde podrás encontrar
                    expertos de forma sencilla y rápida.
                </p>
                <img src="../static/images/guia_usuario/publicaciones2.png" alt=""><br><br><br>

                <p>
                    3. En el lado derecho, verás todas las publicaciones que hay activas en el momento.
                </p>
                <img src="../static/images/guia_usuario/publicaciones3.png" alt=""><br><br><br>

                <p>
                    4. En el lado izquierdo, verás el sistema de busqueda y filtros el cual permite ordenar y
                    seleccionar a los expertos según tu necesidades, ya sea por precio, categoría o fecha de
                    publicación.
                </p>
                <img src="../static/images/guia_usuario/publicaciones4.png" alt=""><br><br><br>

                <p>
                    5. Por último, en la esquina superior izquierda (justo arriba del sistema de busqueda y filtros),
                    encontraremos el conteo de cuantas publicaciones hay activas en el momento.
                </p>
                <img src="../static/images/guia_usuario/publicaciones5.png" alt=""><br><br><br>
            </section>

            <section id="contactar">
                <h2>¿Como contacto a un experto?</h2>
                <p>
                    1. Una vez que hayamos identificado el servicio que necesitamos, podremos contactar al experto desde
                    el boton [Contactar experto]. Con esto podrás
                    organizar precios y todo lo relacionado con la prestación del servicio.
                </p>
                <img src="../static/images/guia_usuario/contratar1.png" alt=""><br><br><br>

                <p>
                    2. Esto te dirige a la interfaz de mensajeria.
                </p>
                <img src="../static/images/guia_usuario/contratar2.png" alt=""><br><br><br>

                <p>
                    3. En la parte izquierda, encontrarás a todos los expertos que has contactado.
                </p>
                <img src="../static/images/guia_usuario/contratar3.png" alt=""><br><br><br>

                <p>
                    4. En la parte derecha, encontrarás el chat del experto seleccionado.
                </p>
                <img src="../static/images/guia_usuario/contratar4.png" alt=""><br><br><br>

                <p>
                    5. Desde aqui podrás empezar a chatear con el experto a gusto y solicitar un servicio de manera
                    rápida y fácil.
                </p>
                <img src="../static/images/guia_usuario/contratar5.png" alt=""><br><br><br>
            </section>

            <section id="favoritos">
                <h2>Gestión de favoritos</h2>
                <p>
                    1. ¿Te gusto mucho una publicación y quisieras encontrarla facilmente? pues puedes hacerlo
                    guardandola como favorita. <br><br>
                    Dirigete a la publicación de tu interes y accede a los 3 puntos en la esquina superior izquierda.
                </p>
                <img src="../static/images/guia_usuario/favoritos1.png" alt=""><br><br><br>

                <p>
                    2. Selecciona la opción guardar. Esto guardara tu publicación en el apartado de favoritos.
                </p>
                <img src="../static/images/guia_usuario/favoritos2.png" alt=""><br><br><br>
                <img src="../static/images/guia_usuario/favoritos3.png" alt=""><br><br><br>
                <p>
                    3. En la esquina superior derecha del menú encontrarás el icono correspondiente al apartado de
                    favoritos. Haz clic en él.
                </p>
                <img src="../static/images/guia_usuario/favoritos4.png" alt=""><br><br><br>

                <p>
                    4. Aqui visualizaras el apartado de favoritos, donde podrás gestionar (eliminar, agregar) tantas
                    publicaciones favoritas como desees.
                </p>
                <img src="../static/images/guia_usuario/favoritos5.png" alt=""><br><br><br>

            </section>

            <section id="configuracion">
                <h2>Configuración de cuenta</h2>
                <p>
                    1. Ingresa a [Configuración] en el menú principal.
                </p>
                <img src="../static/images/guia_usuario/configuracion1.png" alt=""><br><br><br>

                <p>
                    2. En esta sección podrás manejar tu información básica y hacer cambios importantes en tu
                    perfil.
                    En la parte superior se muestra el nombre de usuario (con un enlace directo a su perfil), La fecha
                    en que se unió a la plataforma, El rol que tiene asignado.
                </p>
                <img src="../static/images/guia_usuario/configuracion2.png" alt=""><br><br><br>

                <p>
                    3. Abajo de la información básica del perfil, se encontrarán dos opciones principales: <br><br>
                    <b>Cambiar contraseña:</b> con un botón que permite actualizarla de manera rápida.
                </p>
                <img src="../static/images/guia_usuario/configuracion3.png" alt=""><br><br>

                <p>
                    <b>Eliminar cuenta:</b> opción que desactiva el perfil de forma definitiva.
                </p>
                <img src="../static/images/guia_usuario/configuracion4.png" alt=""><br><br><br>
            </section>

            <section id="conversion">
                <h2>¿Como me convierto a experto?</h2>
                <p>
                    1. Ingresa a [Convertirse en Experto] en el menú principal.
                </p>
                <img src="../static/images/guia_usuario/conversion1.png" alt=""><br><br><br>

                <p>
                    2. Se desplegará una ventana para confirmar si deseas continuar con esta acción. Haz click en
                    [Aceptar].
                </p>
                <img src="../static/images/guia_usuario/conversion2.png" alt=""><br><br><br>

                <p>
                    3. Serás redirigido a tu perfil pero con algunos campos adicionales, lo que significa de que ya
                    cuentas con el rol experto.
                </p>
                <img src="../static/images/guia_usuario/conversion3.png" alt=""><br><br><br>
            </section>

            <section id="perfil-experto">
                <h2>Perfil experto</h2>
                <p>
                    1. Despues de convertirte a experto,en el perfil se podrá visualizar toda la información
                    correspondiente y tú puedes gestionar toda tu información.
                </p>
                <img src="../static/images/guia_usuario/perfil_experto1.png" alt=""><br><br><br>

                <p>
                    2. Podrás modificar tus datos básicos (nombres y apellidos) accediendo al icono en la esquina
                    superior derecha.
                </p>
                <img src="../static/images/guia_usuario/perfil_experto2.png" alt=""><br><br><br>

                <p>
                    3. Haz click en la opción [+Añadir descripción], donde podrás añadir alguna descripción para que los
                    clientes sepan más sobre ti.
                </p>
                <img src="../static/images/guia_usuario/perfil_experto3.png" alt=""><br><br><br>

                <p>
                    4. Haz click en la opción [+Añadir barrio], donde podrás añadir tu ubicación de residencia.
                </p>
                <img src="../static/images/guia_usuario/perfil_experto4.png" alt=""><br><br><br>

                <p>
                    5. Haz click en la opción [+Añadir experiencia], donde podrás añadir experiencias laborales que
                    hayas tenido (cargo, empresa, fecha de inicio y fecha de salida).
                </p>
                <img src="../static/images/guia_usuario/perfil_experto5.png" alt=""><br><br><br>

                <p>
                    6. Haz click en la opción [+Añadir estudios], donde podrás añadir tus estudios realizados (Título,
                    institución, fecha de inicio y fecha de salida).
                </p>
                <img src="../static/images/guia_usuario/perfil_experto6.png" alt=""><br><br><br>

                <p>
                    7. En la parte de la derecha tendrás la opción de añadir todos los idiomas que sepas.
                </p>
                <img src="../static/images/guia_usuario/perfil_experto7.png" alt="">
                <img src="../static/images/guia_usuario/perfil_experto8.png" alt=""><br><br><br>

                <p>
                    8. Y por último también podras añadir tus aptitudes, todo esto con el fin de generar confianza con
                    el cliente y que sepan mas de ti.
                </p>
                <img src="../static/images/guia_usuario/perfil_experto9.png" alt="">
                <img src="../static/images/guia_usuario/perfil_experto10.png" alt=""><br><br><br>
            </section>

            <section id="gestion-publicaciones">
                <h2>Gestión de publicaciones</h2>
                <p>
                    1. En el apartado del perfil, parte superior, habrá un pequeño menu donde podrás acceder a la opción
                    de [Mis publicaciones].
                </p>
                <img src="../static/images/guia_usuario/mis_publicaciones1.png" alt=""><br><br><br>

                <p>
                    2. Visualizaras la interfaz de mis publicaciones, donde podrás gestionar todas tus publicaciones.
                    <br>
                    Vamos a crear una haciendo click en [+Nueva publicación].
                </p>
                <img src="../static/images/guia_usuario/mis_publicaciones2.png" alt=""><br><br><br>

                <p>
                    3. Se desplegará un formulario con los campos: Título de la publicación, precio, categoría,
                    subcategoría y descripción. Una vez completado, haz click en [guardar].
                </p>
                <img src="../static/images/guia_usuario/mis_publicaciones3.png" alt=""><br><br><br>

                <p>
                    4. Tu publicación ha sido creada correctamente. Recuerda que puedes editarla, eliminarla e incluso
                    promocionarla.
                </p>
                <img src="../static/images/guia_usuario/mis_publicaciones4.png" alt=""><br><br><br>
            </section>

            <section id="promocionar">
                <h2>Como promocionar una publicación</h2>
                <p>
                    En CaliTrabaja, puedes promocionar publicaciones para que estas tenga una mayor visibilidad y que
                    los clientes puedan encontrarte mas fácilmente! <br><br>
                    1. Dirigete a una publicación que ya tengas creada y selecciona los tres puntos. Se desplegara un
                    menú y seleccionaras la opción de [Promocionar].
                </p>
                <img src="../static/images/guia_usuario/promocionar1.png" alt=""><br><br><br>

                <p>
                    2. Se despliega una ventana de confirmación. Haz click en [Obtener promoción].
                </p>
                <img src="../static/images/guia_usuario/promocionar2.png" alt=""><br><br><br>

                <p>
                    3. Serás redirigido a la pasarela de pago para que realizes todo el proceso de pago.
                </p>
                <img src="../static/images/guia_usuario/promocionar3.png" alt=""><br><br><br>

                <p>
                    4. Una vez completado el pago, tu publicación aparecera como promocionada y asi sera más accesible a
                    los clientes.
                </p>
                <img src="../static/images/guia_usuario/promocionar4.png" alt=""><br><br><br>
            </section>

            <section id="reportar">
                <h2>¿Como realizo un reporte?</h2>
                <p>
                    Cualquier usuario podrá reportar una publicación o usuario que le parezca inadecuado o que haya
                    tenido una mala experiencia: <br><br>
                    1. Dirigete a la publicación que quieres reportar y haz click en los 3 puntos. Luego selecciona la
                    opción [reportar].
                </p>
                <img src="../static/images/guia_usuario/reportar1.png" alt=""><br><br><br>

                <p>
                    2. Selecciona un motivo y añade una descripción del problema. Luego haz click en [Guardar].
                </p>
                <img src="../static/images/guia_usuario/reportar2.png" alt=""><br><br><br>
                
                <p>
                    3. El reporte se guardara correctamente y un administrador tomará las medidas necesarias.
                </p>
                <img src="../static/images/guia_usuario/reportar3.png" alt=""><br><br><br>
            </section>

            <!-- Aqui pues se agregaran mas temas -->
        </main>

        <aside class="menu-lateral">
            <nav>
                <ul class="ul">
                    <li class="li">
                        <button class="button" data-target="introduccion">
                            <p class="p">Introducción</p>
                        </button>
                    </li>
                    <li class="li">
                        <button class="button" data-target="abrir-cuenta">
                            <p class="p">¿Como crear una cuenta?</p>
                        </button>
                    </li>
                    <li class="li">
                        <button class="button" data-target="inicio-sesion">
                            <p class="p">Inicio de sesión</p>
                        </button>
                    </li>
                    <li class="li">
                        <button class="button" data-target="recuperar-contraseña">
                            <p class="p">Recuperar contraseña</p>
                        </button>
                    </li>
                    <li class="li">
                        <button class="button" data-target="menu-principal">
                            <p class="p">Menú principal</p>
                        </button>
                    </li>
                    <li class="li">
                        <button class="button" data-target="perfil-cliente">
                            <p class="p">Perfil cliente</p>
                        </button>
                    </li>
                    <li class="li">
                        <button class="button" data-target="interfaz-publicaciones">
                            <p class="p">Interfaz publicaciones</p>
                        </button>
                    </li>
                    <li class="li">
                        <button class="button" data-target="contactar">
                            <p class="p">¿Como contacto un experto?</p>
                        </button>
                    </li>
                    <li class="li">
                        <button class="button" data-target="favoritos">
                            <p class="p">Gestión de favoritos</p>
                        </button>
                    </li>
                    <li class="li">
                        <button class="button" data-target="configuracion">
                            <p class="p">Configuración de cuenta</p>
                        </button>
                    </li>
                    <li class="li">
                        <button class="button" data-target="conversion">
                            <p class="p">¿Como me convierto a experto?</p>
                        </button>
                    </li>
                    <li class="li">
                        <button class="button" data-target="perfil-experto">
                            <p class="p">Perfil experto</p>
                        </button>
                    </li>
                    <li class="li">
                        <button class="button" data-target="gestion-publicaciones">
                            <p class="p">Gestion de publicaciones</p>
                        </button>
                    </li>
                    <li class="li">
                        <button class="button" data-target="promocionar">
                            <p class="p">Como promocionar una publicación</p>
                        </button>
                    </li>
                    <li class="li">
                        <button class="button" data-target="reportar">
                            <p class="p">¿Como realizo un reporte?</p>
                        </button>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>

    {% include 'footer.html' %}

    <script>
        document.querySelectorAll('.menu-lateral .button').forEach(button => {
            button.addEventListener('click', () => {
                const targetId = button.getAttribute('data-target');
                const targetSection = document.getElementById(targetId);
                if (targetSection) {
                    targetSection.scrollIntoView({ behavior: 'smooth' });
                }
            });
        });
        </script>
</body>

</html>