<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar_Sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="icon" type="image/png" href="https://i.postimg.cc/26ZkKCPm/Vector.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<body>

    <div class="left-group">
        <a href="/" class="link">
            <img src="{{ url_for('static', filename='images/Vector.svg') }}" alt="logo" class="logo">
            <div class="logo-text">
                <h1>Cali<span class="azul">Trabaja</span></h1>
            </div>
        </a>
    </div>


    <!-- Formulario de inicio de sesión -->
    <div class="register-form">
        <h1>Iniciar Sesión</h1>
        
        <br>
        <form action="{{ url_for('web.iniciar_sesion') }}" method="POST">
            <div class="inp-correo">
                <span class="input-icon"><i class="bi bi-at"></i></span>
                <input type="email" name="correo" placeholder="Correo electrónico" 
                value="{{ request.form.correo or '' }}" required>
            </div>
            <div class="inp-contraseña">
                <span class="input-icon"><i class="bi-lock-fill"></i></span>
                <input type="password" name="contrasena" placeholder="Contraseña" id="pass1" required>
               <i class="bi bi-eye-fill toggle-pass eye-icon"></i>
            </div>

             <!-- 🔹 Aquí aparecen los errores específicos del login -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="login-error">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            
            <!-- Botón centrado -->
            <button type="submit" class="bt-login">Iniciar Sesión</button>

            <!-- Enlaces centrados y apilados -->
            <div class="recuperar-creacion">
                <a href="{{ url_for('web.recuperar_contraseña') }}" class="bt-recuperar-pasword">¿Olvidaste tu contraseña?</a>

                <a href="{{ url_for('web.registrarse') }}" class="bt-recuperar-pasword">Crea una cuenta</a>
            </div>
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/ocultar_contraseña.js') }}"></script>
</body>
</html>
